<a href="https://colab.research.google.com/github/darkshadow4047/Aditya/blob/main/Python_Assignment_1_Practical_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q1
My_name = "Aditya"
print(My_name)
print(type(My_name))

Aditya
<class 'str'>

In [ ]:
# Q2

Stringg = "Hello World"

print(len(Stringg))

11

In [ ]:
# Q3

Stringg = "Python Programming"

print(Stringg[0:3])

Pyt

In [ ]:
# Q4

a = "hello world"

Stringg = print(a.upper())

print (Stringg)

HELLO WORLD
None

In [ ]:
 #Q5

a = " I like apples"

Replacee = a.replace("apples", "oranges")
print (Replacee)

 I like oranges

In [ ]:
 #Q6

a = [1,2,3,4,5]
print(a[::1])
print(type(a))

[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
 # Q7

a = [1,2,3,4]
print(a)
a.append (10)
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, 10]

In [ ]:
# Q8

a = [1,2,3,4,5]
print(a)
a.remove(3)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [ ]:
#Q9

listt = ['a', 'b', 'c', 'd']

print(listt[1])

b

In [ ]:
# Q10

a = [10,20,30,40,50]
print(a[::-1])

[50, 40, 30, 20, 10]

In [ ]:
#Q11

a = (10,20,30)

print(a)

print(type(a))

(10, 20, 30)
<class 'tuple'>

In [ ]:
#Q12

a = ('apple', 'banana', 'cherry')

print(a[0])

apple
1

In [ ]:

#Q13
tup = (1,2,3,2,4,2)
print(tup.count(2))

3

In [ ]:
#Q14

a = ('dog', 'cat', 'rabbit')

Indexx_of_a = a.index('cat')
print(Indexx_of_a)

1

In [ ]:
#Q15

a = ("apple", "banana", "orange")

if "banana" in a:
    print("banana is in the tuple")
else:
    print("banana is not in the tuple")

banana is in the tuple

In [ ]:
#Q16

a = {1,2,3,4,5}
print(a)

print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
#Q17

a = {1,2,3,4}
print(a)

a.add(6)

print(a)

{1, 2, 3, 4}
{1, 2, 3, 4, 6}

In [ ]:
#Q18

a = (10,20,30)

print(a)

print(type(a))

(10, 20, 30)
<class 'tuple'>

In [ ]:
#Q19

a = ('apple', 'banana', 'cherry')

print(a[0])

apple

In [ ]:
#Q20
tup = (1,2,3,2,4,2)
print(tup.count(2))

3

In [ ]:
#Q21


a = ('dog', 'cat', 'rabbit')

Indexx_of_a = a.index('cat')
print(Indexx_of_a)

1

In [ ]:
#Q22

a = ("apple", "banana", "orange")

if "banana" in a:
    print("banana is in the tuple")
else:
    print("banana is not in the tuple")

banana is in the tuple

In [ ]:
#Q23

a = {1,2,3,4,5}
print(a)

print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
#Q24

a = {1,2,3,4}
print(a)

a.add(6)

print(a)

{1, 2, 3, 4}
{1, 2, 3, 4, 6}