<a href="https://colab.research.google.com/github/darkshadow4047/Aditya/blob/main/Python_Assignment_1_Practical_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
 # Data Types and Structure Questions

In [10]:
# 1. What are data structures, and why are they important?

#Answer:- Data structures are fundamental concepts in computer science. They are specialized formats for organizing and storing data, enabling efficient access,manipulation.

In [9]:
# 2.Explain the difference between mutable and immutable data types with examples.

 #Answer:- Mutable data types can be modified whereas we can not modify the data in immutable data types.
# For example, lists are mutable whereas the tuple is immutable.

In [11]:
#3.What are the main differences between lists and tuples in Python?

#Answer:- List are represented using square brackets whereas tuples are represented as curved brackets. Lists are mutable whereas tuples are immutable that means we can modify data in list whereas we can not modify data in tuples.

In [13]:
#4.Describe how dictionaries store data?

# Answer:-Dictionaries in Python store data in a key-value pair format.

In [14]:
#5.Why might you use a set instead of a list in Python?

#Answer:-Set stores only unique values that means if there are duplicate values then set will automatically removes it.

#Set also supports mathematical functions like Union, Intersection, Difference, Symmetric.

In [16]:
#6.What is a string in Python, and how is it different from a list?

# Answer:- String is a sequence of characters enclosed within single ('...') or double quotes ("...").

# They key differences b/w String and Lists are:-

#String is immutable whereas list is mutable.

#String is used to store text characters whereas lists are used to store variety of data types.

In [20]:
#7.How do tuples ensure data integrity in Python?

# Answer:-Tuples in Python ensure data integrity primarily through their immutability. This means that once a tuple is created, its contents cannot be changed.

In [24]:
#8.What is a hash table, and how does it relate to dictionaries in Python?

# Answer:-A hash table is a data structure that uses a hash function to map keys to specific locations within an array.Dictionaries store data in key-value pairs, where the keys are used to hash and find the corresponding values.
#Dictionaries store data in key-value pairs, where the keys are used to hash and find the corresponding values.

In [25]:
#9.Can lists contain different data types in Python?

#Answer:- Lists can contain different data types in Python.

In [26]:
#10.Explain why strings are immutable in Python?

#Answer:-Immutable objects can be easily cached. Since the value of a string never changes, its hash value (used for dictionary lookups) remains constant. This allows Python to cache the hash value, leading to faster dictionary lookups.

In [28]:
#11.What advantages do dictionaries offer over lists for certain tasks?

#Answer:-When you need fast lookups by a specific identifier (key).
#When you want to store data in an associative manner (key-value pairs).

In [29]:
#12.Describe a scenario where using a tuple would be preferable over a list?

#Answer:- We can use tuple whenever we need to store hostname, password or aadhar card number.

In [35]:
#13.How do sets handle duplicate values in Python?

# Answer:-Sets in Python handle duplicate values by automatically removing them.
#A fundamental property of a set is that it can only contain unique elements
#When you create a set from a list or other iterable containing duplicates, the set constructor (set()) automatically eliminates any duplicate values.

In [37]:

#14.How does the “in” keyword work differently for lists and dictionaries?

#Answer:-The in operator checks if a given value exists as an element within the list.
#The in operator checks if a given value exists as a key within the dictionary.

In [38]:
#15.Can you modify the elements of a tuple? Explain why or why not?

#Answer:- It is not directly possible to modify the elements of a tuple in Python.
#If an element within the tuple itself is mutable (like a list), we can modify that element directly.

In [39]:
#16.What is a nested dictionary, and give an example of its use case?

#Answer:-A nested dictionary is a dictionary within another dictionary. In simpler terms, it's like a dictionary that contains other dictionaries as values for some of its keys.
# Use Case:- Imagine you're building an application to track student information. You could use a nested dictionary to store information about multiple students, where each student has multiple attributes

In [40]:
#17. Describe the time complexity of accessing elements in a dictionary?

#Answer:-The time complexity of accessing elements in a Python dictionary is O(1) on average.
# This implies that the time taken to access an element does not depend on the size of the dictionary.

In [41]:
#18.In what situations are lists preferred over dictionaries?

#Answer:-If we need to iterate through the elements in a specific order (e.g., for processing, displaying, or performing calculations sequentially), lists are more suitable

In [42]:
#19.Why are dictionaries considered unordered, and how does that affect data retrieval?

#Answer:-Dictionaries in Python are considered unordered because they do not guarantee any specific order for the key-value pairs.

In [43]:
#20.Explain the difference between a list and a dictionary in terms of data retrieval.

#Answer:-A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair

In [44]:
# Practical Questions:-

In [2]:
# Q1
My_name = "Aditya"
print(My_name)
print(type(My_name))

Aditya
<class 'str'>

In [ ]:
# Q2

Stringg = "Hello World"

print(len(Stringg))

11

In [ ]:
# Q3

Stringg = "Python Programming"

print(Stringg[0:3])

Pyt

In [ ]:
# Q4

a = "hello world"

Stringg = print(a.upper())

print (Stringg)

HELLO WORLD
None

In [ ]:
 #Q5

a = " I like apples"

Replacee = a.replace("apples", "oranges")
print (Replacee)

 I like oranges

In [ ]:
 #Q6

a = [1,2,3,4,5]
print(a[::1])
print(type(a))

[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
 # Q7

a = [1,2,3,4]
print(a)
a.append (10)
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, 10]

In [ ]:
# Q8

a = [1,2,3,4,5]
print(a)
a.remove(3)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [ ]:
#Q9

listt = ['a', 'b', 'c', 'd']

print(listt[1])

b

In [ ]:
# Q10

a = [10,20,30,40,50]
print(a[::-1])

[50, 40, 30, 20, 10]

In [ ]:
#Q11

a = (10,20,30)

print(a)

print(type(a))

(10, 20, 30)
<class 'tuple'>

In [ ]:
#Q12

a = ('apple', 'banana', 'cherry')

print(a[0])

apple
1

In [ ]:

#Q13
tup = (1,2,3,2,4,2)
print(tup.count(2))

3

In [ ]:
#Q14

a = ('dog', 'cat', 'rabbit')

Indexx_of_a = a.index('cat')
print(Indexx_of_a)

1

In [ ]:
#Q15

a = ("apple", "banana", "orange")

if "banana" in a:
    print("banana is in the tuple")
else:
    print("banana is not in the tuple")

banana is in the tuple

In [ ]:
#Q16

a = {1,2,3,4,5}
print(a)

print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
#Q17

a = {1,2,3,4}
print(a)

a.add(6)

print(a)

{1, 2, 3, 4}
{1, 2, 3, 4, 6}

In [ ]:
#Q18

a = (10,20,30)

print(a)

print(type(a))

(10, 20, 30)
<class 'tuple'>

In [ ]:
#Q19

a = ('apple', 'banana', 'cherry')

print(a[0])

apple

In [ ]:
#Q20
tup = (1,2,3,2,4,2)
print(tup.count(2))

3

In [ ]:
#Q21


a = ('dog', 'cat', 'rabbit')

Indexx_of_a = a.index('cat')
print(Indexx_of_a)

1

In [ ]:
#Q22

a = ("apple", "banana", "orange")

if "banana" in a:
    print("banana is in the tuple")
else:
    print("banana is not in the tuple")

banana is in the tuple

In [ ]:
#Q23

a = {1,2,3,4,5}
print(a)

print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
#Q24

a = {1,2,3,4}
print(a)

a.add(6)

print(a)

{1, 2, 3, 4}
{1, 2, 3, 4, 6}